#contact{
    background: linear-gradient(to right, $neutral 0%, $neutral 45%, $main-warm 45%, $main-warm 100%);
    div.wrapper{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 20em;
        height: auto;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-top: 2em;
        .form-group{
            margin: 0.5em 0;
            input,textarea{
                width: 20em;
                background-color: $neutral;
                padding: 1em 0;
                border: none;
                &::placeholder{
                    font-family: "Newsreader", serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 1.2em;
                    color: $main-cold-light;
                    padding-left: 1em;
                }
            }
            textarea{
                height: 180%;
                resize: none;
            }
        }
        .form-button{
            margin-left: auto;
        }
    }
}