#me{
    background: linear-gradient(to right, $main-warm 0%, $main-warm 55%, $neutral 55%, $neutral 100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: $main-cold-dark;
    aside{
        grid-column: 1 / 4;
        grid-row: 1;
        padding: 3em;
    }
    div.img{
        max-width: 15em;
        grid-column: 4 / -1;
        grid-row: 1;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center right;
            box-shadow: 3rem -2rem $main-cold-light;
        }
    }
}